*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /*background-color: bisque;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    position: fixed;
    width: 100%;
    gap: 30px;
}


nav{
    /*background-color: blueviolet;*/
    display: flex;
    align-items: center;

}


.navegacion{
    /*background-color: aqua;*/
    font-size: 25px;
    display: none;
    gap: 30px;  
}


.navegacion li a:hover {
    background-color: #00B172;
    color: white;
}

li{
    list-style: none; 
}


a{
    color: black;
    text-decoration: none;
}


.navegacion-sandwich input{
    display: none;
}


.portada{
    height: 850px;
    background-image: url("../images/landing.jpg");
    background-size: 100% 100%;
    display: grid;
    align-content: center;
    gap: 25px;
}


h1{
    font-size: 80px;
    font-weight:lighter;
    color: white;
    text-align: center;
}


.texto1{
    font-size: 35px;
    color: white;
    text-align: center;
}


h2 {
    text-align: center;
    color: black;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color:#00B172;
    padding-top: 15px;
    padding-bottom: 15px;
}


.contenido1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 75px;
    padding-bottom: 75px;
    align-items: baseline;
    
}


.figura{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}


.figura h3 {
    text-align: center;
    color:#00B172;
    font-size: 30px;
}


.figura p{
    font-size: 25px;
    color: black;
    text-align: center;
}


.contenido2 {
    height: auto;
    background-color: #00B172;
    margin-left: 35px;
    margin-right: 35px;
    padding: 70px 80px 70px 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


.contenido3 {
    display: flex;
    justify-content: space-between;
    height: auto;
}


.contenido2 h3 {
    color: white;
    font-size: 40px;
    text-decoration: underline;
    text-align: left;
}


.contenedor-texto {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 50px;

}


h4 {
    color: white;
    font-size: 30px;
}


.texto2 {
    text-align: left;
    color: white;
    font-size: 25px;
}


.orienta-imagen{
    display: flex;
    align-items: center;
}


footer{
    text-align: center;
}

@media (min-width: 800px){
    .navegacion{
        display: flex;
    }

    .navegacion-sandwich{
        display: none;
    }

}

@media (max-width: 799.25px) {
    .navegacion-sandwich{
        font-size: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        border: 2px solid;
        border-radius: 5px;
        height: auto;
        width: 50px;
    }

    .navegacion-sandwich label {
        width: 47px;
        text-align: center;
    }


    .navegacion-sandwich label:hover {
        background-color: gray;
    }

    .navegacion-sandwich input:checked ~ label{
        background-color: lightgrey;
    }

    .contenido2{
        padding-inline: 30px;
        padding-block: 25px;
    }

    .contenido2 h3{
        font-size: 30px;
    }
    
    .contenido3{
        align-items: center;
        gap: 10px;
    }
    
    .contenedor-texto{
        gap: 10px;
        margin-top: 10px;
    }
    .contenedor-texto h4{
        font-size: 20px;
    }

    .contenedor-texto p{
        font-size: 20px;
    }

    .orienta-imagen img{
        height: 70px;
        width: auto;
    }

    .img-kanye{
        height: 400px;
        width: auto;
    }
}


@media (max-width: 705px) {
    .portada h1{
        font-size: 40px
    }

    .portada p{
        font-size: 25px
    }

    main h2{
        font-size: 30px
    }

    .contenido1{
        padding-block: 35px;
    }


    .figura img{
        width: 100px;
        height: auto;
    }

    .figura h3{
        font-size: 20px
    }

    .figura p{
        font-size: 15px
    }

    .contenido2{
        padding-inline: 15px;
        padding-block: 10px;
        margin-inline: 15px;
        
    }

    .contenido2 h3{
        text-align: center;
    }

    .contenido3{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
}

@media (max-width: 400px){
    header img{
        width: 200px;
        height: auto;
    }

    .contenido1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .figura{
        gap: 5px;
    }

    

}


